<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Navbar Styles</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../assets/css/styles.css">
</head>



<body>

    <!--minibar style 1-->
        <div class="minibar is-black">
            <!--variaciones: agregar a .minibar las clases: .is-white, .is-dark ó .is-black-->
            <div class="container">
                <!--Columns-->
                <div class="columns has-text-centered-mobile">
                    <div class="column is-4 columns is-marginless">
                        <div class="col is-6"><a href="tel:1234567" class="span">
                            <i class="fas fa-phone"></i> Phone: 123 45 67
                        </a>
                        </div>
                        <div class="col is-6">
                            <a href="mailto:mail@mail.com" class="span">
                                <i class="fas fa-envelope"></i> mail: info@mail.com
                            </a>
                        </div>
                    </div>
                    <div class="column is-6 is-hidden-mobile"></div>
                    <div class="column is-2">
                        <div class="social-icons is-rounded">
                            <a href="#!">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a  href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--/Columns-->
            </div>
        </div>
    <!--/minibar style 1-->


        <!--minibar style 2-->
        <div class="minibar is-dark">
            <!--variaciones: agregar a .minibar las clases: .is-white, .is-dark ó .is-black-->
            <div class="container">
                <!--Columns-->
                <div class="columns has-text-centered-mobile">
                    <div class="column is-4 columns is-marginless">
                        <div class="col is-6">
                            <a href="tel:1234567" class="span">
                                <i class="fas fa-phone"></i> Phone: 123 45 67
                            </a>
                        </div>
                        <div class="col is-6">
                            <a href="mailto:mail@mail.com" class="span">
                                <i class="fas fa-envelope"></i> mail: info@mail.com
                            </a>
                        </div>
                    </div>
                    <div class="column is-6 is-hidden-mobile"></div>
                    <div class="column is-2">
                        <div class="social-icons is-rounded">
                            <a class="is-facebook" href="#!">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="is-twitter" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="is-youtube" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                            
                        </div>
                    </div>
                </div>
                <!--/Columns-->
            </div>
        </div>
        <!--/minibar style 2-->



        <!--minibar style 3-->
        <div class="minibar is-light">
            <!--variaciones: agregar a .minibar las clases: .is-white, .is-dark ó .is-black-->
            <div class="container">
                <!--Columns-->
                <div class="columns has-text-centered-mobile">
                    <div class="column is-4 columns is-marginless">
                        <div class="col is-6">
                            <a href="tel:1234567" class="span">
                                <i class="fas fa-phone"></i> Phone: 123 45 67
                            </a>
                        </div>
                        <div class="col is-6">
                            <a href="mailto:mail@mail.com" class="span">
                                <i class="fas fa-envelope"></i> mail: info@mail.com
                            </a>
                        </div>
                    </div>
                    <div class="column is-6 is-hidden-mobile"></div>
                    <div class="column is-2">
                        <div class="social-icons is-rounded">
                            <a class="is-facebook" href="#!">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="is-twitter" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="is-youtube" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--/Columns-->
            </div>
        </div>
        <!--/minibar style 3-->




        <!--minibar style 4-->
        <div class="minibar is-white">
            <!--variaciones: agregar a .minibar las clases: .is-white, .is-dark ó .is-black-->
            <div class="container">
                <!--Columns-->
                <div class="columns has-text-centered-mobile">
                    <div class="column is-4 columns is-marginless">
                        <div class="col is-6">
                            <a href="tel:1234567" class="span">
                                <i class="fas fa-phone"></i> Phone: 123 45 67
                            </a>
                        </div>
                        <div class="col is-6">
                            <a href="mailto:mail@mail.com" class="span">
                                <i class="fas fa-envelope"></i> mail: info@mail.com
                            </a>
                        </div>
                    </div>
                    <div class="column is-6 is-hidden-mobile"></div>
                    <div class="column is-2">
                        <div class="social-icons is-square">
                             <a class="is-facebook" href="#!">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a class="is-twitter" href="#!">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a class="is-youtube" href="#!">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--/Columns-->
            </div>
        </div>
        <!--/minibar style 4-->


    <!--bulma original-->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>
                <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            
            <div id="navbarExampleTransparentExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="https://bulma.io/">
                        Home
                    </a>
            
                    <a class="navbar-item" href="https://bulma.io/">
                        Item
                    </a>
            
                    <a class="navbar-item" href="https://bulma.io/">
                        Item
                    </a>
            
                    <a class="navbar-item" href="https://bulma.io/">
                        Item
                    </a>
            
                    <a class="navbar-item" href="https://bulma.io/">
                        Item
                    </a>
            
                    <a class="navbar-item" href="https://bulma.io/">
                        Item
                    </a>
            
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/documentation/overview/start/">
                            Docs
                        </a>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/documentation/overview/start/">
                                Overview
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                                Modifiers
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                                Columns
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                                Layout
                            </a>
                            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                                Form
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                                Elements
                            </a>
                            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                                Components
                            </a>
                        </div>
                    </div>
                </div>
            
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000"
                                    target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=http://localhost:4000&amp;via=jgthms">
                                    <span class="icon">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                    <span>
                                        Tweet
                                    </span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-primary" href="https://github.com/jgthms/bulma/archive/0.5.1.zip">
                                    <span class="icon">
                                        <i class="fas fa-download"></i>
                                    </span>
                                    <span>Download</span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--/bulma original-->


    <!--widget-social simple-->
    <div class="social-icons">

        <a href="#!">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#!">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="#!">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="#!">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="#!">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#!">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="#!">
            <i class="fab fa-tumblr"></i>
        </a>


        <a href="#!">
            <i class="fab fa-flickr"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vimeo"></i>
        </a>

        <a href="#!">
            <i class="fab fa-foursquare"></i>
        </a>

        <a href="#!">
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="#!">
            <i class="fab fa-snapchat"></i>
        </a>

        <a href="#!">
            <i class="fab fa-soundcloud"></i>
        </a>

        <a href="#!">
            <i class="fab fa-periscope"></i>
        </a>

        <a href="#!">
            <i class="fab fa-spotify"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vk"></i>
        </a>

        <a href="#!">
            <i class="fab fa-github"></i>
        </a>

        <a href="#!">
            <i class="fab fa-gitlab"></i>
        </a>

        <a href="#!">
            <i class="fab fa-bitbucket"></i>
        </a>

    </div>
    <!--/widget-social simple-->



    <!--widget-social style 1-->
    <div class="social-icons is-rounded">

        <a href="#!">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#!">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="#!">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="#!">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="#!">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#!">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="#!">
            <i class="fab fa-tumblr"></i>
        </a>


        <a href="#!">
            <i class="fab fa-flickr"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vimeo"></i>
        </a>

        <a href="#!">
            <i class="fab fa-foursquare"></i>
        </a>

        <a href="#!">
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="#!">
            <i class="fab fa-snapchat"></i>
        </a>

        <a href="#!">
            <i class="fab fa-soundcloud"></i>
        </a>

        <a href="#!">
            <i class="fab fa-periscope"></i>
        </a>

        <a href="#!">
            <i class="fab fa-spotify"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vk"></i>
        </a>

        <a href="#!">
            <i class="fab fa-github"></i>
        </a>

        <a href="#!">
            <i class="fab fa-gitlab"></i>
        </a>

        <a href="#!">
            <i class="fab fa-bitbucket"></i>
        </a>

    </div>
    <!--/widget-social style 1-->


    <!--widget-social style 2-->
    <div class="social-icons is-square">

        <a href="#!">
            <i class="fab fa-facebook"></i>
        </a>

        <a href="#!">
            <i class="fab fa-twitter"></i>
        </a>

        <a href="#!">
            <i class="fab fa-youtube"></i>
        </a>

        <a href="#!">
            <i class="fab fa-linkedin"></i>
        </a>

        <a href="#!">
            <i class="fab fa-instagram"></i>
        </a>

        <a href="#!">
            <i class="fab fa-pinterest"></i>
        </a>

        <a href="#!">
            <i class="fab fa-tumblr"></i>
        </a>


        <a href="#!">
            <i class="fab fa-flickr"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vimeo"></i>
        </a>

        <a href="#!">
            <i class="fab fa-foursquare"></i>
        </a>

        <a href="#!">
            <i class="fab fa-whatsapp"></i>
        </a>

        <a href="#!">
            <i class="fab fa-snapchat"></i>
        </a>

        <a href="#!">
            <i class="fab fa-soundcloud"></i>
        </a>

        <a href="#!">
            <i class="fab fa-periscope"></i>
        </a>

        <a href="#!">
            <i class="fab fa-spotify"></i>
        </a>

        <a href="#!">
            <i class="fab fa-vk"></i>
        </a>

        <a href="#!">
            <i class="fab fa-github"></i>
        </a>

        <a href="#!">
            <i class="fab fa-gitlab"></i>
        </a>

        <a href="#!">
            <i class="fab fa-bitbucket"></i>
        </a>

    </div>
    <!--/widget-social style 2-->



    <!--widget-social style 3-->
    <div class="social-icons is-rounded">
    
        <a class="is-facebook" href="#!">
            <i class="fab fa-facebook"></i>
        </a>
    
        <a class="is-twitter" href="#!">
            <i class="fab fa-twitter"></i>
        </a>
    
        <a class="is-youtube" href="#!">
            <i class="fab fa-youtube"></i>
        </a>
    
        <a class="is-" href="#!">
            <i class="fab fa-linkedin"></i>
        </a>
    
        <a class="is-fa-linkedin" href="#!">
            <i class="fab fa-instagram"></i>
        </a>
    
        <a class="is-pinterest" href="#!">
            <i class="fab fa-pinterest"></i>
        </a>
    
        <a class="is-tumblr" href="#!">
            <i class="fab fa-tumblr"></i>
        </a>
    
    
        <a class="is-flickr" href="#!">
            <i class="fab fa-flickr"></i>
        </a>
    
        <a class="is-vimeo" href="#!">
            <i class="fab fa-vimeo"></i>
        </a>
    
        <a class="is-foursquare" href="#!">
            <i class="fab fa-foursquare"></i>
        </a>
    
        <a class="is-whatsapp" href="#!">
            <i class="fab fa-whatsapp"></i>
        </a>
    
        <a class="is-snapchat" href="#!">
            <i class="fab fa-snapchat"></i>
        </a>
    
        <a class="is-soundcloud" href="#!">
            <i class="fab fa-soundcloud"></i>
        </a>
    
        <a class="is-periscope" href="#!">
            <i class="fab fa-periscope"></i>
        </a>
    
        <a class="is-spotify" href="#!">
            <i class="fab fa-spotify"></i>
        </a>
    
        <a class="is-vk" href="#!">
            <i class="fab fa-vk"></i>
        </a>
    
        <a class="is-github" href="#!">
            <i class="fab fa-github"></i>
        </a>
    
        <a class="is-gitlab" href="#!">
            <i class="fab fa-gitlab"></i>
        </a>
    
        <a class="is-bitbucket" href="#!">
            <i class="fab fa-bitbucket"></i>
        </a>
    
    </div>
    <!--/widget-social style 3-->


    <!--widget-social style 4-->
    <div class="social-icons is-square">
    
        <a class="is-facebook" href="#!">
            <i class="fab fa-facebook"></i>
        </a>
    
        <a class="is-twitter" href="#!">
            <i class="fab fa-twitter"></i>
        </a>
    
        <a class="is-youtube" href="#!">
            <i class="fab fa-youtube"></i>
        </a>
    
        <a class="is-" href="#!">
            <i class="fab fa-linkedin"></i>
        </a>
    
        <a class="is-fa-linkedin" href="#!">
            <i class="fab fa-instagram"></i>
        </a>
    
        <a class="is-pinterest" href="#!">
            <i class="fab fa-pinterest"></i>
        </a>
    
        <a class="is-tumblr" href="#!">
            <i class="fab fa-tumblr"></i>
        </a>
    
    
        <a class="is-flickr" href="#!">
            <i class="fab fa-flickr"></i>
        </a>
    
        <a class="is-vimeo" href="#!">
            <i class="fab fa-vimeo"></i>
        </a>
    
        <a class="is-foursquare" href="#!">
            <i class="fab fa-foursquare"></i>
        </a>
    
        <a class="is-whatsapp" href="#!">
            <i class="fab fa-whatsapp"></i>
        </a>
    
        <a class="is-snapchat" href="#!">
            <i class="fab fa-snapchat"></i>
        </a>
    
        <a class="is-soundcloud" href="#!">
            <i class="fab fa-soundcloud"></i>
        </a>
    
        <a class="is-periscope" href="#!">
            <i class="fab fa-periscope"></i>
        </a>
    
        <a class="is-spotify" href="#!">
            <i class="fab fa-spotify"></i>
        </a>
    
        <a class="is-vk" href="#!">
            <i class="fab fa-vk"></i>
        </a>
    
        <a class="is-github" href="#!">
            <i class="fab fa-github"></i>
        </a>
    
        <a class="is-gitlab" href="#!">
            <i class="fab fa-gitlab"></i>
        </a>
    
        <a class="is-bitbucket" href="#!">
            <i class="fab fa-bitbucket"></i>
        </a>
    
    </div>
    <!--/widget-social style 4-->


</body>


    <script src="assets/js/app.min.js"></script>
    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </body>
    
    </html>